
<table id="customers">
  <th>First Name</th>
  <th>Last Name</th>
  <th>EmployeeId</th>
  <th>Password</th>
  <th>Contact</th>
  <th>Gender</th>
  <tr>
    <td>{{formvalue.firstname}}</td>
    <td>{{formvalue.lastname}}</td>
    <td>{{formvalue.eid}}</td>
    <td>{{formvalue.password}}</td>
  <td>{{formvalue.contact}}</td>
  <td>{{formvalue.gender}}</td>
  </tr>
</table>
<br>
<button class="btn btn-info" (click)="move()" name="button" >Edit</button>
<button class="btn btn-success" (click)="done()" name="button" >Done</button>